/* ///////////////////////  GLOBALES /////////////////////////////   */

body {
  font-family: "Playfair Display", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1376px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0.5rem;
  }
}

/* ///////////////////////  ENCABEZADO /////////////////////////////   */
.titulo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

.titulo__texto {
  font-size: 5rem;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .titulo__texto {
    font-size: 2rem;
  }
}

.titulo__bajada {
  display: flex;
  gap: 1rem;
}

.navegacion-superior {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}

.navegacion-superior__tiempo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.navegacion-superior__tiempo__reloj {
  width: 15px;
  height: 15px;
}

.navegacion-superior__rrss {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navegacion-superior__rrss__icon__fb {
  width: 18px;
  height: 18px;
}
.navegacion-superior__rrss__icon__ig {
  width: 15px;
  height: 15px;
}
.navegacion-superior__rrss__icon__tw {
  width: 15px;
  height: 15px;
}

.menu-principal {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  list-style: none;
  justify-content: center;
  text-transform: uppercase;
  border-top: 1px solid black;
  border-bottom: 3px solid black;
}

@media screen and (max-width: 768px) {
  .menu-principal {
    font-size: 0.8rem;
  }
}

.menu-principal__activo {
  text-decoration: underline;
  font-weight: 800;
  color: blue;
}

.contenedor-noticias-destacadas-sup {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 1rem 0;
}

@media screen and (max-width: 768px) {
  .contenedor-noticias-destacadas-sup {
    flex-wrap: wrap;
  }
}

.noticia-superior {
  display: flex;
  gap: 1rem;
}

.noticia-superior__texto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.noticia-superior__texto__titulo {
  font-size: 1.5rem;
}

.noticia-superior__texto__subtitulo {
  font-size: 0.9rem;
}

.noticia-superior__imagen {
  width: 80px;
  height: 80px;
}

/* ///////////////////////  NOTICIA DESTACADA /////////////////////////////   */

.noticias-destacadas {
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr;
}

.noticias-destacadas__principal {
  position: relative;
}

.noticias-destacadas__principal__titulo {
  position: absolute;
  bottom: 10%;
  left: 2rem;
  background-color: darkorange;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 800;
  padding: 1rem 2rem;
}

.noticias-destacadas__principal__imagen {
  width: 100%;
}

.noticias-destacadas__lado {
  display: flex;
  border-left: 1px solid lightgrey;
  flex-direction: column;
}

.noticias-destacadas__lado__titulo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  gap: 1rem;
}

/* Componentes Interfaz */
.punto {
  min-width: 15px;
  min-height: 15px;
  max-width: 18px;
  max-height: 18px;
  border-radius: 100%;
  background-color: black;
}

.linea {
  width: 100%;
  height: 1px;
  background-color: black;
}
