.container {
  max-width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0.5rem;
  }
}

.navegacion-superior {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.navegacion-superior__tiempo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.navegacion-superior__tiempo__reloj {
  width: 15px;
  height: 15px;
}

.navegacion-superior__rrss {
  display: flex;
  gap: 1rem;
}

