body {
  font-family: 'Playfair Display', serif;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0.5rem;
  }
}

.titulo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 0;
}

.titulo__texto {
  font-size: 5rem;
  font-weight: 400;
}

.titulo__bajada {
  display: flex;
  gap: 1rem;
}

.navegacion-superior {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}

.navegacion-superior__tiempo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.navegacion-superior__tiempo__reloj {
  width: 15px;
  height: 15px;
}

.navegacion-superior__rrss {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navegacion-superior__rrss__icon__fb {
  width: 18px;
  height: 18px;
}
.navegacion-superior__rrss__icon__ig {
  width: 15px;
  height: 15px;
}
.navegacion-superior__rrss__icon__tw {
  width: 15px;
  height: 15px;
}

.menu-principal {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  list-style: none;
  justify-content: center;
  text-transform: uppercase;
  border-top: 1px solid black;
  border-bottom: 3px solid black;
}