<aside class="border-r-2">
  <h3 class="mt-2 mb-4 uppercase">Últimas noticias</h3>
  <ul class="flex flex-col gap-1 list-disc pl-4">
    <li>Noticia 1</li>
    <li>Noticia 2</li>
    <li>Noticia 3</li>
    <li>Noticia 4</li>
  </ul>
</aside>
