<div class="text-center my-12">
  <h1 class="text-4xl md:text-8xl font-black">
    <a href="/">Nibaldo Informa</a>
  </h1>
  <p class="text-sm md:text-md">EL PERIÓDICO ESCOLAR DE PORTEZUELO</p>
</div>
